<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>GTSRB Model By Jayanth</title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/templatemo-breezed.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/owl-carousel.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/lightbox.css')}}">
    {%block head%}{%endblock%}
    </head>
    
    <body>
        
        
        {%block body%}{%endblock%}
    

    <!-- jQuery -->
    <script src="{{url_for('static',filename='js/jquery-2.1.0.min.js')}}"></script>

    <!-- Bootstrap -->
    <script src="{{url_for('static',filename='js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <!-- Plugins -->
    <script src="{{url_for('static',filename='js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static',filename='js/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/imgfix.min.js')}}"></script> 
    <script src="{{url_for('static',filename='js/slick.js')}}"></script> 
    <script src="{{url_for('static',filename='js/lightbox.js')}}"></script> 
    <script src="{{url_for('static',filename='js/isotope.js')}}"></script> 
    
    <!-- Global Init -->

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });
        
    </script>
    <script>
        let inp=document.querySelector("#inputGroupFile04")
        window.addEventListener("change",handleFiles,false)
        
        function handleFiles() {
          const fileList = inp.files[0]; /* now you can work with the file list */
          const fileName=fileList.name
          document.getElementById('labelForInput').innerHTML= fileName;
        }
    </script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>

  </body>
</html>