body{
    background-image:url('https://image.freepik.com/free-photo/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6364.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
